<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @issue.name %>
</p>

<p>
  <b>Title:</b>
  <%= @issue.title %>
</p>

<p>
  <b>Content:</b>
  <%= @issue.content %>
</p>

<h2>Articles</h2>
<%= render @issue.articles %>

<h2>Add an article to this issue:</h2>
<%= render "articles/form" %>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>


