  <p>
    <b>Title:</b>
    <%= article.title %>
  </p>

  <p>
    <b>Link:</b>
    <%= article.link %>
  </p>

  <p>
    <b>By:</b>
    <%= article.author %>
  </p>
 
  <p>
    <b>Summary:</b>
    <%= article.summary %>
  </p>

  <p>
    <b>Thumbnail:</b>
    <%= article.thumbnail_url %>
  </p>

<p>
  <% if article.thumbnail_url %>
    <img src=<%= article.thumbnail_url %> height="100px" width="100px">
      <% end %>
</p>

  <p>
  <%= link_to 'Destroy Article', [article.issue, article],
               :confirm => 'Are you sure?',
               :method => :delete %>
  </p>

  <hr>