  <p>
    <b>Title:</b>
    <%= article.title %>
  </p>

  <p>
    <b>Link:</b>
    <%= article.link %>
  </p>

  <p>
    <b>By:</b>
    <%= article.author %>
  </p>
 
  <p>
    <b>Summary:</b>
    <%= article.summary %>
  </p>

  <p>
  <%= link_to 'Destroy Article', [article.issue, article],
               :confirm => 'Are you sure?',
               :method => :delete %>
  </p>